.livroback {
    background-color: #0cbccc4d;
    margin: 50px auto 50px;
    width: 1000px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    align-content: center;
}

.botoeslivro {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.botaoL1 {

    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.botaoL1:hover {
    color: black;
    background-color: white;
}

.botaoL2 {
    padding: 10px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.botaoL2:hover {
    color: white;
    background-color: yellowgreen;
}

.botaoL3 {
    padding: 10px;
    font-size: 20px;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.botaoL3:hover {
    color: white;
    background-color: black;
}

.capa {
    margin: 30px;
    width: auto;
    height: 250px;
    border-radius: 5px;
    box-shadow: 5px 10px;
}

.titulo {
    margin: 10px 0;
    text-transform: uppercase;
}

.autor {
    padding: 0 0 20px;
}

.livrodescricao {
    padding-top: 15px;
}

.livrodescricao label {
    font-size: 35px;
    text-align: left;
    font-weight: bold;
}

.livrodescricao p {
    text-align: center;
    font-size: 25px;
}

.descricaosinopse {
    padding: 15px;
    margin-bottom: 10px;
}

.descricaosinopse p {
    font-size: 25px;
    text-align: justify;
    padding: 0 20px 0 20px;
}

.loading {
    margin: auto;
    margin-top: 376px;
    margin-bottom: 230px;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 100px;
    width: 100px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}