.reactlogin {
    margin: 163px 0 160px;
}

.reactlogin h1 {
    margin-bottom: 20px;
}

.reactlogin form {
    margin: auto;
    max-width: 500px;
    padding: 50px;
    background-color: #0cbccc4d;
    border-radius: 10px;
    text-align: center;
}

.reactlogin input {
    border: none;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    padding: 12px 20px 12px 10px;
}

.reactlogin h1 {
    font-size: 45px;
}

.reactlogin .btnentrar {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.reactlogin .entrar:hover {
    background-color: rgb(51, 177, 219);
    color: black;
}

.reactlogin .btncriarconta {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;

}